.card{
    
    border: 1px solid orangered;
    border-radius: 20px !important;
    width: 300px;
    height: 440px;
    margin: 10px;
}

.card div img{
    width: 600px;
    border-radius: 20px;
    
    
}

.card div h3{
    text-align: center;
    color:black;
}
.card div p{
    margin-inline:5px;
}
.card div span{
    margin-inline:5px;
}

.card button{
    width: 90%;
    margin: 5px;
    margin-inline:14px;

    padding: 3px;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}