.NavBar{
    background-color: orangered !important;
}

.titulo {
    font-size: 45px;
    font-weight: 800;
    color: black;
}

.market {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.market input{
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px;
    width: 400px;
    height: 25px;
}

.button {
    background: orangered !important; 
    border: none !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    border-bottom: 2px solid black !important;
}

.botonesProd {
    background-color: white;
    color: orangered;
    border:solid 2px orangered;
    margin: 25px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.button button:hover{
    color:white;
    border:solid 2px white;
    background-color: #ff6347;
}