*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.NavBar{
    background-color: orangered;
   
}

.NavBar div{
    display: flex;
    justify-content: space-between;

}

.button button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}
.button button:hover{
    background-color: orangered;
    color:white;
}